<h1>Bonjour ! Vous avez fait une demande de réinitialisation de mot de passe !</h1>

<p>
	Vous pouvez créer un nouveau mot de passe en cliquant sur ce lien :
	<br><br>
	<a href="{{ url("app_security_reset_password") }}?email={{emailAdress}}">Réinitialiser mon mot de passe</a>.


</p>
<p>Ce lien expire le
	{{ expiration_date|date("d/m/Y H:m", 'Europe/Paris') }}.</p>


<p>Merci</p>
