.mainNewTrickForm {
    min-height: 100vh;
}

.newTrickForm {
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    margin: 25px;
}

body>main>form>div.form-group.d-flex.justify-content-around.w-100>fieldset {
    width: 100%;
}

body>main>form>div.form-group.d-flex.justify-content-around.w-100>div {
    width: 100%;
}