.navbar-brand {
    background-image: url("../images/logo.svg");
    background-size: cover;
    background-position: center center;
    width: 5%;
    height: 50px;

    /* annimation */
    overflow: hidden;
    transition-duration: 0.6s;
    transition-property: transform;
}

.navbar-brand:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.userImage {
    position: absolute;
    top: 5;
    right: 0;
}

@media screen and (max-width:991px) {
    .userImage {
        display: none;
    }
}