.allTricks>div>div>a {
    color: #FFF;
    text-decoration: none;
    width: 50%;
}

.allTricks>div>div>a:hover {
    color: grey;
}

.allTricks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.detailTrick {
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}