{% block body %}
		<footer class="bg-dark text-center text-white">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white" href="https://www.linkedin.com/in/cl%C3%A9ment-p%C3%A9r%C3%A9-10749819a/">Clément Péré</a>
            </div>
            <!-- Copyright -->
        </footer>
{% endblock %}